body {}

.form-container {
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}